# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build/

/.vscode/
docs/html/
docs/latex/
docs/_build/
docs/_static/
docs/_templates/
/logs/
build/
FloorPlanGenerator/storage/
config.out

calculator.py

nsight/
nsightCompute/